/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    /*border: 4px solid yellow;*/
}

header {
    background-color: black;
    color: #ffffff;
    padding: 30px;
    text-align: center;
    border: 4px solid red;
}

header h1 {
    /*border: 4px solid orange;*/
    color: white;
    text-align: left;
    font-size: 40px;
    height: 50px; /* Defina a altura desejada */
    width: 155px;
    line-height: 50px; /* Igual ao valor de altura para centralizar o texto verticalmente */
}

header h2{
    color: white;
}

footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}



nav ul {
    list-style-type: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: white;
    width: 700px;
    height: 40px;
    border: 4px solid green;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    color: white;
    /*border: 4px solid purple;*/
}

nav ul li a {
    color: #f9fafd;
    padding: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
    /*border: 4px solid pink;*/
    text-align: left;
    width: 155px;
}

nav ul li a:hover {
    color: #273e9a;
    /**border: 4px solid brown;**/
}

main {
    padding: 20px;
    /*border: 4px solid maroon;*/
}

form {
    max-width: 500px;
    margin: 0 auto;
    /*border: 4px solid indigo;*/
}

/*Nome, Email, Mensagem */
label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
    /*border: 4px solid turquoise;*/
    color: white;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*border: 4px solid magenta;*/
}
/*botao de enviar*/
button {
    background-color: #273e9a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /*border: 4px solid gold;*/
}
/* muda a cor do botao de enviar quando o mouse ta em cima*/
button:hover {
    background-color: #6faece;
}

#sobre {
    padding-left: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#servico{
    padding-left: 20px;
    color: white;
}
/* Entre em contato conosco*/
#contato {
    padding-left: 20px;
    color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 100px; /* Defina a altura desejada */
    border: 4px gold;
}

